/*
	proyecto: R.E.M.O.T.O. PFIZER
	author: Nubielis Pereira
	
*/
   
/*Imagen cargando*/
#imgLOAD
{
    position:absolute;
    top:50%;
    left:50%;
    margin:-35px 0 0 -35px;
    z-index:1000;
}
.precarga
{
    background:transparent url(~/Presentacion/Imagenes/ajax-loader.gif) center no-repeat;
}

/* default styles */
body { padding: 5px 0 0 0; margin: 0; font: .7em Tahoma, Arial, sans-serif; line-height: 1.7em; background: #fff url(Imagenes/bg.gif) repeat-x; color: #454545; }
a { color: #2F637A; background: inherit; }
a:hover { color: #808080; background: inherit; }
p {	margin: 0 0 5px 0;
    font-size: small;
    width: 220px;
    right: 53px;
    position: relative;
    top: -13px;
    height: 30px;
    font-weight: 700;
    color: #999999;
    font-family: Tahoma;
}
h1 {	font: normal normal bold small normal normal Arial, Sans-Serif; 
padding: 8px 0 0 0; margin-right: 0;
    margin-bottom: 5px;
    top: -53px;
    left: 101px;
    width: 297px;
    position: relative;
    z-index: 2;
    height: 24px;
    color: #808080;
}
h2 { margin: 0; padding: 0px; 
font: bold 1.8em Arial, Sans-Serif; letter-spacing: -1px; }
    h1 a, h2 a
    {
        color: #000;
        background: inherit;
    }

        .auto-style1 { font-size: medium; 
font-weight: bold;
    height: 44px;
}
        .auto-style2{color: #0000CC;}

        lor: #3333CC; }
        .auto-style3 { color: #FF6600; }
        .auto-style4 { color: #3333CC; }
        .auto-style5 { font-size: medium; }
        .auto-style7 { font-size: large; }
        .auto-style10{color: #0000CC; text-align: left;}
        .auto-style8{ color: #FF6600; }
        height: 20px; }
        .auto-style14 { width: 35%;

    left: 180px;
    position: relative;
}
        .auto-style15 { color: #0000CC; text-align: center; font-size: medium;}
        .auto-style16 { width: 262px;}
        .auto-style17 { height: 23px;}
        .auto-style18 { height: 23px; width: 118px; }
        .auto-style19 { width: 118px;}
        .auto-style21{padding: 0px; text-align: center;}
        .auto-style20{color: #0000CC; font-size: medium;}
        .auto-style22{color: #0000CC; width: 1062px;}
        .auto-style23{font-size: small; font-weight: bold; height: 14px; width: 74px;}
        .auto-style24{ color: #FF6600; font-size: small; height: 60px; width: 193px;
            text-align: center; left: 753px; position: relative; top: 58px;}
        .auto-style25{font-size: small; font-weight: bold;}
        .auto-style26{font-size: small;}
        .auto-style27{color: #808080; 
font-size: small; left: 386px;
    font-weight: 700;
}
        .auto-style28{color: #FF6600; font-size: small;}
        .falla{ color: #FF0000;}
        .auto-style29{color: #808080; position: relative;}
        .auto-style30{font-family: Tahoma; color: #808080; font-size: small;}
        .auto-style31{right: 85px;}
        .auto-style32{width: 100%; font-weight: normal;}
        .auto-style33{position: relative;font-size: small; font-weight: bold; height: 14px; width: 37px;}
        .auto-style35{position: relative; font-size: small; color: #808080; width: 167px;}
        

        .auto-style36{width: 288px;}
        .auto-style37{font-family: Tahoma; font-size: small;}
        .auto-style38{width: 341px;}
        .auto-style39{width: 63%;}
        .auto-style40{width: 6px;}
    /*.auto-style41{border: 1px dotted #CCCCCC;
    padding: 1px 4px;
    text-align: center;
}*/

/* layout */
#content { margin: 10px auto; width: 974px; }
#logo { margin: 0 0 10px 0; 
        .auto-style8{ color: #0000CC;
    text-align: center;
}
 
x 2px; padding: 0; color: #808080; background: #fff; }
#top_info { line-height: 27px; float: right; color: #808080; background: #fff; margin: 12px 5px 7px 4px; 
text-align: right; height: 21px;
    width: 170px;
}


/* round blue login button */
#loginbutton a { text-decoration: none; width: 24px; padding: 7px 12px; margin: 0 0 0 8px; height: 28px; background: #fff url(Imagenes/lb.gif) no-repeat; color: #000; }
#loginbutton a:hover{ background: #fff url(Imagenes/lbhover.gif) no-repeat; color: #000;}

/* left side */
#left {
	float: left;
	width: 1126px;
	margin: 0 0 10px 0;
}
	.subheader {
		margin: 0 0 10px 160px;
		padding: 8px;
		background: #9FC7D8 url(Imagenes/bgshade.gif) repeat-x;
		color: #808080;
		border-bottom: 1px solid #ccc;
	}
	.left_articles {
		margin: 0px 0 10px 0;
		background: #fff url(Imagenes/bgshade.gif) repeat-x;
		color: #454545;
		padding: 15px 15px 5px 10px;
	}
		.date { font-size: .9em; padding: 0 0 0 12px; background: #fff url(Imagenes/news.gif) no-repeat center left; color: #808080; }
		.bigimage {
			float: left;
			clear: left;
			border: 1px solid #ccc;
			background: #eee;
			color: #000;
			width: 200px;
			height: 144px;
			margin: 0 15px 10px 0;
    text-align: center;
    bottom: -6px;
    right: -195px;
    top: 6px;
    left: 195px;
    position: relative;
}
	.left_box {
		background: #f4f4f4;
		color: #808080;
		b
		.bigimage {
			float: left;
			clear: left;
			border: 1px solid #ccc;
			background: #eee;
			color: #000;
			width: 208px;
			height: 139px;
			margin: 0 15px 10px 0;
    text-align: center;
    bottom: -3px;
    right: -194px;
    top: 3px;
    left: 194px;
    position: relative;
}
	position: relative;
}
	: 8px;	
		margin: 0 0 10px 0;
		background: #eee;
		color: #454545;
	}
	.image { float: left; margin: 0 9px 3px 0;
    height: 93px;
    width: 124px;


}
	.notes {
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
		padding: 17px 10px 17px 80px;	
		margin: 0 0 10px 0;
		background: #fff url(Imagenes/note
	.right_articles {
		border: 1px solid #ccc;
		padding: 8px;	
		margin: 0 0 10px 0;
		background: #eee;
		color: #454545;
    width: 237px;
}
	padding: 10px 15px;
	border-top: 1px solid #ccc;
}
	#footer .right { float: right; }